.toggleContainer {
position: fixed;
bottom: 20px;
}
    
#span1{
    margin-left: -1px;
    width: 30px;
    height: 22px;
}

.light-mode-button {
    background:0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    height: 10px;
    width: 10px;
    position: relative;
    border: 1px solid rgba(255,255,255,0);
}
      
.light-mode-button span:nth-child(1) {
    position: absolute;
    top:0;
    left:5px;
    width: 100px;
    height:40px;
    border-radius: 20px;
    background-color: grey;
    box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
    transition: 0.3s;
}
    
.light-mode-button span:nth-child(2) {
    position: absolute;
    top: 3.5px;
    left:15px;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
    transition: 1s;
}

body {
    background-color: #f6f6f6;
    color: black;
    transition: background-color .7s;    
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}




body[light-mode=dark] {
    background-color: #141516;
    color: white;
    border: white;
}


body[light-mode="dark"] .light-mode-button span:nth-child(1){
    background-color: #ffffff;
    color: #000000;
}


body[light-mode=dark] .light-mode-button span:nth-child(2) {
    left: 5px;
	background-color: #000000;
}

/* ^ Styling for Light/Dark mode toggle button */

a{
    color: unset;
    width: fit-content;
    text-decoration: none;
}

.items-Nav {
    display: flex;
    position: relative;
    align-content: space-between;
    margin: 10px;
    text-decoration: none;
}
  
.items-Nav:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #318CE7;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}
  
.items-Nav:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  

#NavList{
    text-align:right;
    margin-right:10px;
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 2%;

}
  
#Nav{
    display: inline-flex;
    flex-wrap: wrap;
    margin-right:30px;
}


.dropdown {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: fit-content;
}

.dropdown li{
    position: relative;
    width: fit-content;
    z-index: 1;
}

.dropdown ul {
    display: none;
    position: absolute;
    top: 100%;
    list-style-type: none;
    right: 0;
}

.dropdown ul li{
    position: relative;
    top: 100%;
    list-style-type: none;
    left: 0;
    text-align: right;
}


.dropdown li:hover > ul {
display: block;
}


.dropdown-nav{
    display: inline-block;
    position: absolute;
    top: 0;
}

.dropdown-Nav:after {
    content: '';
    position: absolute;
    width: 15%;
    transform: scaleX(0);
    height: 2px;
    left: 1px;
    background-color: #318CE7;
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

.dropdown-Nav:hover:after {
    transform: scaleX(1);
    transform-origin:  left;
}

/* ^ Styling for Navigation Bar */


.homeContainer {
    display: table-cell;
    text-align: left;
    position: absolute;
    top: 0;
}
  
#homeUl {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
#homeLogo {
    padding: 0 14px;
    font-size:xx-large;
    
}
  
#homeSpan {
    position: relative;
    display: block;
    cursor: pointer;
}
  
#homeSpan:before, #homeSpan:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: #fff;
}
  
#homeSpan:before {
    left: -2.5px;
}
#homeSpan:after {
    right: 2.5px;
    background: #fff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
  
#homeSpan:hover:before {
    background: #fff;
    width: 110%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
  
#homeSpan:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

    /* Styling for the Home button */

footer{
    position: fixed;
    bottom: 2%;
    margin-left: 40%;
}



.footer-Nav{
    text-decoration: none;
    margin-left: 5px;
}

.footer-Nav:hover{
    text-decoration: underline;
}


#introInfo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    position: relative;
    width: fit-content;
}

#introText{
    font-size: 250%;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

#quickInfo{
    width: 50%;
    margin-left: 26%;
}

#homeText{
    font-size: xx-large;
    text-align: center;
    user-select: none;
}

#stickRoll{
color: transparent;
}

#stickRoll{
    user-select: none;
}

#proj-Title{
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

#webLink:hover{
    text-decoration: underline;
}
#projectDesc{
    position: relative;
    width: 50%;
    top: 18%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    text-align: justify;
    font-size: 110%;
    font-weight: 500;
}

#proj-Img {
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

img{
    border-radius: 1% 1% 1% 1%;
}

#aboutimg{
    border-radius: inherit;
}

#projectDesc-Story{
    position: relative;
    margin-top: 2%;
    width: 50%;
    top: 18%;
    margin-left: 25%;
    text-align: justify;
    font-size: 110%;
    font-weight: 500;
}
#proj-footer{
position: relative;
display: flex;
align-items: center;
margin-bottom: 1%;
margin-top: 2%;
width: fit-content;
}
#resume{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#resume-Title{
    display: flex;
    justify-content: center;
    font-size: 270%;
}

.resume-Header{
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 5px;
    font-size: x-large;
}


.skills{
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 0;
}

.skills-Header{
    font-size: large;
}

.resume-Item{
    list-style-type: none;
    position: relative;
    display: flex;
    justify-content: left;
    width: fit-content;
    font: 110%;
}

.resume-Items{
    margin-right: 5px;
}

#about-Me{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 7%;
    margin-bottom: 55px;
}

#about-Me-Text{
    max-width: 30%;
    font-size: 100%;
    padding-right: 15%;
    
}

#selfie{
    border-radius: 50%;
    margin-left: 15%;
}


#text-divider{
text-align: center;
font-size: xx-large;
}



#fourYP{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#text-fyp{
    max-width: 40%;
    text-align: center;
    font-size: larger;
}



#section-one{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-bottom: 55px;
    margin-top: 3%;
}

#section-two{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-bottom: 55px;
    margin-top: 3%;
}



#hobbyTextOne{
    width: 30%;
    font-size: 160%;
    text-align: left;
    position: relative;
}

#hobbyTextTwo{
    width: 30%;
    font-size: 160%;
    text-align: left;
}

#contHead{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    position: relative;
    width: fit-content;
    font-size: 200%;
}


#fastCont p{
    justify-content: space-between;
    position: relative;
    text-align: center;
}

#socials{
    text-align: center;
}

#socials a{
    justify-content: space-between;
    font-size: 650%;
    position: relative;
    margin-left: 10px;
}

#socialHead{
    font-size: 300%;
}

#facebookLink:hover{
cursor: pointer;
color: #4267B2;
}

#linkedinLink:hover{
    cursor: pointer;
    color: #0072b1;
}

#thanks{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    position: relative;
    width: fit-content;
    width: 50%;
}

#thanks p{
    text-align: center;
    font-size: x-large
}

#portHead{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    position: relative;
    width: fit-content;
    width: 50%;
    text-align: center;
}

[data-component="slideshow"] .slide {
	display: none;
  text-align: center;
}

[data-component="slideshow"] .slide.active {
	display: block;
    user-select: none;
}

@media screen and (max-height: 1920px){
    .burger-nav{
        display: none;
    }
}

@media screen and (max-width: 480px) {
    #introText{
        font-size: 35px;
        margin-top: 15%;
    }
    #quickInfo{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    
    #homeText{
        font-size: 30px;
        text-align: center;
        user-select: none;
    }

    .burger-nav{
        display: block;
        height: 40px;
        width: 100%;
        cursor: pointer;
    }

    #Nav ul{
        overflow: hidden;
        height: 0;
        margin-top: 5%;
    }

    #Nav ul.open{
        height: auto;
    }

    #Nav ul {
        float: none;
        text-align: left;
        width: 100%;
        margin: 0;
        margin-top: 2%;
    }

    #Nav ul ul {
        text-align: left;
        width: 100%;
        margin: 0;
    }

    #Nav ul li a{
        color: yellow;
        padding:10px;
        border-bottom: 1px solid;
        display: block;
        margin: 0;
    }
}